html,body{
    margin: 0;
    padding: 0;
    /*background-color: #fafafa;*/
    font-size: 16px;
    font-family: roboto;
}
h1,h2,h3{
    margin: 0;
}


#header{
    background: #333;
    margin: 0;
    padding: 30px 0 0 0;
    text-align: center;

}
#header h1{
    color: white;
    font-size: 250%;
}
#header span{
    color: #00bcd4;
}
#header h3{
    color:gray;

}

#header #menu_web{
    padding: 15px 0 0 0;
}
#header #menu_web .menu{
    color: white;
    padding: 5px;
    background-color: #abcdef;
    display: inline-block;
}
#header #menu_web .menu:hover{
    color: red; 
}

#penampung_body{
    padding: 80px 0 90px 0;
}



#konten{
    max-width: 33,3%;
    float: left;
    text-align: center;
    padding: 10px;
}
#konten img{
    border-color: transparent;
    border-style: solid;
    border-color: gray;
    
}


#story{
    max-width: 33.3%;
       text-align: center; 
    color: #727272;
    float: left;
    padding: 10px;
    
}

#story h2{
    
    
    color: #00bcd4;
}
#story p{
    text-align: justify;  
}

#personal{
    max-width: 33.3%;
   float: left;
    padding: 10px;
}

#personal h2{
    text-align: center;
    color: #00bcd4;
}
#personal table{
    color: #727272;
}
.fa {
  padding: 20px;
  font-size: 20pt;
  width: 50px;
  text-align: center;   
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook-square {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google-plus-square {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}



#footer{
    background: #333;
    clear: both;
    text-align: center;
    padding: 30px;
    color: white;
    
}
#penampung1{
    background: white;
    background-repeat: no-repeat;
    background-size: 100%;
}
#penampung1 #skill{
   float: left;
    max-width: 25%;
    max-height: auto;
    padding: 150px 50px;
}
#penampung1 #skill h2{
    color: #00bcd4;
}
#penampung1 #skill p{
    color: #727272;
}
#penampung1 #skill #resume{
   
}#penampung1 #skill #resume a{
   color: #00bcd4;
}
#penampung1 #gambar{
    float: left;
    max-width: 75%;
    max-height: auto;
}
#penampung1 #gambar img{
    height: 400px;;
}